# Introduction to Machine Learning
***
### Applied Computational Intelligence

This course will gradually build from Python concepts to training and using a machine learning model. This course is based on selected topics from Microsoft's __[certification](https://docs.microsoft.com/en-us/learn/certifications/azure-data-scientist/?source=learn)__.

For this unit it is suggested to use VSCode and follow the exercises using a Jupyter Notebook.

For markdown you can use this __[link](https://www.markdownguide.org/cheat-sheet/)__.

## Lists

Most of the work in data science is done using lists and operations on them. A list can be compared to an array, it contains a number of elements.

Let's create a list called `data` and populate it with __5__ values that represent total ice creams sold per day.

In [159]:
import numpy as np
import pandas as pd
data = [90, 30, 30, 50, 70]
print(data)

[90, 30, 30, 50, 70]

The sales are now stored in the list `data`. This is good for general manipulation, but not ideal for numerical analysis.

So, let's convert this list to a __NumPy__ array.

__Note__ : library `numpy` must be installed.

In [160]:
#this get rides of the comas between the data values
sales = np.array(data)

As you can see the output of the list and and the numpy array is identical except for the commas. But, the way they are used is different. 

Let's do an operation to highlight this difference.

In [161]:
print(data)
print(sales)

[90, 30, 30, 50, 70]
[90 30 30 50 70]

When the list was multiplied by two, all the values were copied and appeneded to the end of the list. But, when numpy array was multiplied by two, each element was actually multiplied by 2. This makes numpy arrays better suited for numerical analysis.

We can also check the shape of the array to determine its size.

In [162]:
print(type(sales), sales*2)
print(type(data), data*2)

sales.shape
#print(data.shape)

<class 'numpy.ndarray'> [180  60  60 100 140]
<class 'list'> [90, 30, 30, 50, 70, 90, 30, 30, 50, 70]

(5,)

This shows us that there are 5 elements. Each of these elements can be accessed by using its index (starting from zero).

In the following example, we will choose the first, third, and fifth elements.

In [163]:
print(sales[0])
print(sales[2])
print(sales[4])

90
30
70

Since it's a numpy array, mathemtical analysis can also be performed. For instance, the average can be calculated by using the `mean` function.

In [164]:
sales.mean()

54.0

Let's add create another array `temperature` storing the temperature when the sales were made. Then, the sales and daily temperatures are combined into a single array named `total`.

In [165]:
temperature = np.array([40, 29, 30, 34, 38])
total = np.array([temperature, sales])

total

array([[40, 29, 30, 34, 38],
       [90, 30, 30, 50, 70]])

We can also check it's shape. This will return `(2, 5)`, meaning there are two elements, and each of these elements contains 5 elements.

In [166]:
total.shape

(2, 5)

This time individual data can be accessed by using two-dimensional indexes. 

The following example will return the first element in the first element (temperature).

In [167]:
print(total)
total[0][0]

[[40 29 30 34 38]
 [90 30 30 50 70]]

40

We can now compare the average temperature, with the average sales.

In [168]:
print('Average temperature: ',total[0].mean())
print('Average sales: ',total[1].mean())

Average temperature:  34.2
Average sales:  54.0

When printing formatting can be used to have more control on the output __[more info](https://docs.python.org/3/tutorial/inputoutput.html)__.

In [169]:
print('Average temperature: {:.1f}\nAverage sales: {:.1f}'.format(total[0].mean(), total[1].mean()))

Average temperature: 34.2
Average sales: 54.0

## Exploring tabular Data 

Although `NumPy` is good to work with arrays, most of the time data is presented in a tabular manner, and for that reason, it's ideal to use `Pandas`' __DataFrame__ which offers greater flexibility.

__Note__ : library `pandas` must be installed.

The following example will create a new DataFrame with three columns; Date, Temperature, and Sales.

In [170]:
import pandas as pd

df_sales = pd.DataFrame({
    'Date': ['02-08-2021','03-08-2021','04-08-2021','05-08-2021','06-08-2021'],
    'Temperature': total[0],
    'Sales': total[1]
})

df_sales

         Date  Temperature  Sales
0  02-08-2021           40     90
1  03-08-2021           29     30
2  04-08-2021           30     30
3  05-08-2021           34     50
4  06-08-2021           38     70

Apart from the specified columns the DataFrame also includes an unique index to each row on the table. This can be specified when the table is created (like a username, or an email) but since it was not specified a number was generated. This can be done using `set_index`.

In [171]:
df_sales = df_sales.set_index('Date')
df_sales

            Temperature  Sales
Date
02-08-2021           40     90
03-08-2021           29     30
04-08-2021           30     30
05-08-2021           34     50
06-08-2021           38     70

We can change back the index to numbers using `reset_index`.

In [172]:
df_sales = df_sales.reset_index()
df_sales

         Date  Temperature  Sales
0  02-08-2021           40     90
1  03-08-2021           29     30
2  04-08-2021           30     30
3  05-08-2021           34     50
4  06-08-2021           38     70

To access the data in the DataFrame, `loc` can be used. This will retrieve the record based on the index specified in the brackets.

The following example will return the student with index value of `3`.

In [173]:
df_sales.loc[3]

Date           05-08-2021
Temperature            34
Sales                  50
Name: 3, dtype: object

A range of indexes can also be used.

The following example will return the sales with index values of 0, 1, and 2.

In [174]:
df_sales.loc[0:3]

         Date  Temperature  Sales
0  02-08-2021           40     90
1  03-08-2021           29     30
2  04-08-2021           30     30
3  05-08-2021           34     50

Apart from using `loc`, `iloc` can also be used to find rows based on their position (not index).

In [175]:
df_sales.iloc[0:2]

         Date  Temperature  Sales
0  02-08-2021           40     90
1  03-08-2021           29     30

As you can notice `loc` returned 3 rows, and `iloc` returned 2 rows. `iloc` returned 2 rows because Integer ranges do not include the upper-bound values. `iloc` can be used across rows, and columns.

 In the following example it will access the first row, and then the first two columns.

In [176]:
df_sales.iloc[0,[0,1]]

Date           02-08-2021
Temperature            40
Name: 0, dtype: object

When using `loc`, columns can be identified by their name as well.

In [177]:
df_sales.loc[0, 'Temperature']

40

Filtering can also be applied.

In [178]:
df_sales.loc

When comparing strings remember to enclose in quotes.

In [179]:
df_sales.loc[df_sales['Temperature'] == 40]
df_sales.loc[df_sales["Date"] == '03-08-2021']

         Date  Temperature  Sales
1  03-08-2021           29     30

However, when filtering there is no need to use `loc`, it can be omitted.

In [180]:
df_sales[df_sales["Date"] == '03-08-2021']

         Date  Temperature  Sales
1  03-08-2021           29     30

Alternatively, one can also use the DataFrame's `query` method.

In [181]:
df_sales.query("Temperature==40")

         Date  Temperature  Sales
0  02-08-2021           40     90

In Pandas, there is more than one way of doing the same thing, and this can be confusing. It's best to find your favourite approach and stick to it throughout.

Another example, is that the column can be referenced directly by its name rathen than by its index.

In [182]:
df_sales[df_sales.Temperature == 40]

         Date  Temperature  Sales
0  02-08-2021           40     90

In [183]:
#explanation of the code above ^    

#df_sales.Temperature == 40

#df_sales[[True,False,False,False,False]]

## Loading a DataFrame from a file

Up until now we have created our own data, but most of the time, data is obtained from various sources like relational databases, csv, text files, etc...

DataFrame's `read_csv` method is used to load data from text files. You can specify the column delimiter, and whether the first row contains the headings. 

In this case we are specifying the name of the file `icecream.csv`, the values are separated by a comma, and the column titles can be obtained from the first row.

__Note__ : __[read_csv](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)__ documentation

In [184]:
df_sales = pd.read_csv("icecream.csv", delimiter=",", header="infer")
df_sales
#print(df_sales)

          Date  Temperature  Sales BreakDown Area
0   02/08/2021         40.0   72.0        No   A1
1   03/08/2021         35.0   68.0        No   A2
2   04/08/2021         35.0   68.0        No   A2
3   05/08/2021         32.0   64.0        No   A3
4   06/08/2021         31.0   64.0        No   A1
5   07/08/2021         30.0   62.0        No   A1
6   08/08/2021         29.0   62.0        No   A1
7   09/08/2021         28.0   60.0       Yes   A3
8   10/08/2021         30.0   64.0        No   A2
9   11/08/2021         33.0   66.0        No   A2
10  12/08/2021         33.0   66.0        No   A2
11  13/08/2021         33.0   66.0        No   A2
12  14/08/2021         33.0   66.0        No   A3
13  15/08/2021         36.0   68.0        No   A2
14  16/08/2021         38.0   70.0        No   A3
15  17/08/2021         40.0   72.0       Yes   A1
16  18/08/2021         41.0   74.0        No   A1
17  19/08/2021         41.0   74.0        No   A1
18  20/08/2021         41.0   76.0        No   A1
19  21/08/2021         38.0   70.0        No   A1
20  22/08/2021         36.0   68.0        No   A3
21  23/08/2021         36.0   70.0        No   A2
22  24/08/2021         35.0   68.0        No   A2
23  25/08/2021          NaN   42.0        No   A1
24  26/08/2021         28.0    NaN        No   A1
25  27/08/2021         40.0   72.0       Yes   A3
26  28/08/2021         39.0   70.0        No   A2

If the file contains large amounts of data, the first few rows, or the last few rows can be observed using `head` or `tail` methods. They can be used without a parameter (default number of rows), or a parameter can be passed to obtain the desired number of rows.

In [185]:
print(df_sales.head())
print(df_sales.tail())
print(df_sales.head(3))

         Date  Temperature  Sales BreakDown Area
0  02/08/2021         40.0   72.0        No   A1
1  03/08/2021         35.0   68.0        No   A2
2  04/08/2021         35.0   68.0        No   A2
3  05/08/2021         32.0   64.0        No   A3
4  06/08/2021         31.0   64.0        No   A1
          Date  Temperature  Sales BreakDown Area
22  24/08/2021         35.0   68.0        No   A2
23  25/08/2021          NaN   42.0        No   A1
24  26/08/2021         28.0    NaN        No   A1
25  27/08/2021         40.0   72.0       Yes   A3
26  28/08/2021         39.0   70.0        No   A2
         Date  Temperature  Sales BreakDown Area
0  02/08/2021         40.0   72.0        No   A1
1  03/08/2021         35.0   68.0        No   A2
2  04/08/2021         35.0   68.0        No   A2

## Handling missing values

It is verry common when working with data, to have missing or incomplete data. One can use `isnull` to identify any null values.

In [186]:
df_sales.isnull()

     Date  Temperature  Sales  BreakDown   Area
0   False        False  False      False  False
1   False        False  False      False  False
2   False        False  False      False  False
3   False        False  False      False  False
4   False        False  False      False  False
5   False        False  False      False  False
6   False        False  False      False  False
7   False        False  False      False  False
8   False        False  False      False  False
9   False        False  False      False  False
10  False        False  False      False  False
11  False        False  False      False  False
12  False        False  False      False  False
13  False        False  False      False  False
14  False        False  False      False  False
15  False        False  False      False  False
16  False        False  False      False  False
17  False        False  False      False  False
18  False        False  False      False  False
19  False        False  False      False  False
20  False        False  False      False  False
21  False        False  False      False  False
22  False        False  False      False  False
23  False         True  False      False  False
24  False        False   True      False  False
25  False        False  False      False  False
26  False        False  False      False  False

df_sales.isnull().sum()

This will display the entire dataset and a flag for null values in each column. 

To be more efficient we can do:

In [187]:
df_sales.isnull().sum()

Date           0
Temperature    1
Sales          1
BreakDown      0
Area           0
dtype: int64

This shows us that none of the dates, break down flag, and area are null. There is one record with a null for sales, and another record wiht a null value for sales.

To see them as records, we can show only the rows where any (`any` method) column (`axis=1`) has a null value.

In [188]:
df_sales[df_sales.isnull().any(axis=1)]

          Date  Temperature  Sales BreakDown Area
23  25/08/2021          NaN   42.0        No   A1
24  26/08/2021         28.0    NaN        No   A1

So now that we have identified the null values, we can either impute replacement values or remove related records.

If considering the imputing values route, one can for instance fill in any missing Temperature with the average temperature for the rest of the days. To fill in null values `fillna` can be used.

In [189]:
df_sales.Temperature = df_sales.Temperature.fillna(
    df_sales.Temperature.mean()
)
df_sales.loc[23]

Date           25/08/2021
Temperature     35.038462
Sales                42.0
BreakDown              No
Area                   A1
Name: 23, dtype: object

On the other hand, if you can only use data that you are certain about, you can remove rows or columns that contain null values.

In this case we will remove rows (`axis=0`) where any (`how='any'`) of the columns contain null values.

In [190]:
df_sales = df_sales.dropna(axis = 0, how="any")
df_sales

          Date  Temperature  Sales BreakDown Area
0   02/08/2021    40.000000   72.0        No   A1
1   03/08/2021    35.000000   68.0        No   A2
2   04/08/2021    35.000000   68.0        No   A2
3   05/08/2021    32.000000   64.0        No   A3
4   06/08/2021    31.000000   64.0        No   A1
5   07/08/2021    30.000000   62.0        No   A1
6   08/08/2021    29.000000   62.0        No   A1
7   09/08/2021    28.000000   60.0       Yes   A3
8   10/08/2021    30.000000   64.0        No   A2
9   11/08/2021    33.000000   66.0        No   A2
10  12/08/2021    33.000000   66.0        No   A2
11  13/08/2021    33.000000   66.0        No   A2
12  14/08/2021    33.000000   66.0        No   A3
13  15/08/2021    36.000000   68.0        No   A2
14  16/08/2021    38.000000   70.0        No   A3
15  17/08/2021    40.000000   72.0       Yes   A1
16  18/08/2021    41.000000   74.0        No   A1
17  19/08/2021    41.000000   74.0        No   A1
18  20/08/2021    41.000000   76.0        No   A1
19  21/08/2021    38.000000   70.0        No   A1
20  22/08/2021    36.000000   68.0        No   A3
21  23/08/2021    36.000000   70.0        No   A2
22  24/08/2021    35.000000   68.0        No   A2
23  25/08/2021    35.038462   42.0        No   A1
25  27/08/2021    40.000000   72.0       Yes   A3
26  28/08/2021    39.000000   70.0        No   A2

## Explore data

Now that missing values are removed, it's time to explore data.

In [191]:
mean_temperature = df_sales.Temperature.mean()
mean_sales = df_sales.Sales.mean()

print("Average Temperature: " + str(mean_temperature) + "\nAverage Sales: " + str(mean_sales))

Average Temperature: 35.30917159763314
Average Sales: 67.0

Now, let's find which were the days were more ice-creams were sold than the overall average.

In [192]:
df_sales[df_sales.Sales > mean_sales]

          Date  Temperature  Sales BreakDown Area
0   02/08/2021         40.0   72.0        No   A1
1   03/08/2021         35.0   68.0        No   A2
2   04/08/2021         35.0   68.0        No   A2
13  15/08/2021         36.0   68.0        No   A2
14  16/08/2021         38.0   70.0        No   A3
15  17/08/2021         40.0   72.0       Yes   A1
16  18/08/2021         41.0   74.0        No   A1
17  19/08/2021         41.0   74.0        No   A1
18  20/08/2021         41.0   76.0        No   A1
19  21/08/2021         38.0   70.0        No   A1
20  22/08/2021         36.0   68.0        No   A3
21  23/08/2021         36.0   70.0        No   A2
22  24/08/2021         35.0   68.0        No   A2
25  27/08/2021         40.0   72.0       Yes   A3
26  28/08/2021         39.0   70.0        No   A2

Filtered results can be re-used to work additional analysis on them. For instance, we can find the mean daily temperature of days where ice-cream sales were more than the overall mean.

In [193]:
df_sales[df_sales.Sales > mean_sales].Temperature.mean()

38.06666666666667

Let's add a label showing if the quota has been reached or not. Let's assume that the quota is 70.

First a pandas `Series` is created containing `True` or `False`, then this series is concatenated using `concat` method as a column (`axis=1`) to the existing DataFrame.

In [194]:
quota = pd.Series(df_sales.Sales >= 70)
df_sales = pd.concat([df_sales, quota.rename("QuotaMet")], axis=1)
df_sales

          Date  Temperature  Sales BreakDown Area  QuotaMet
0   02/08/2021    40.000000   72.0        No   A1      True
1   03/08/2021    35.000000   68.0        No   A2     False
2   04/08/2021    35.000000   68.0        No   A2     False
3   05/08/2021    32.000000   64.0        No   A3     False
4   06/08/2021    31.000000   64.0        No   A1     False
5   07/08/2021    30.000000   62.0        No   A1     False
6   08/08/2021    29.000000   62.0        No   A1     False
7   09/08/2021    28.000000   60.0       Yes   A3     False
8   10/08/2021    30.000000   64.0        No   A2     False
9   11/08/2021    33.000000   66.0        No   A2     False
10  12/08/2021    33.000000   66.0        No   A2     False
11  13/08/2021    33.000000   66.0        No   A2     False
12  14/08/2021    33.000000   66.0        No   A3     False
13  15/08/2021    36.000000   68.0        No   A2     False
14  16/08/2021    38.000000   70.0        No   A3      True
15  17/08/2021    40.000000   72.0       Yes   A1      True
16  18/08/2021    41.000000   74.0        No   A1      True
17  19/08/2021    41.000000   74.0        No   A1      True
18  20/08/2021    41.000000   76.0        No   A1      True
19  21/08/2021    38.000000   70.0        No   A1      True
20  22/08/2021    36.000000   68.0        No   A3     False
21  23/08/2021    36.000000   70.0        No   A2      True
22  24/08/2021    35.000000   68.0        No   A2     False
23  25/08/2021    35.038462   42.0        No   A1     False
25  27/08/2021    40.000000   72.0       Yes   A3      True
26  28/08/2021    39.000000   70.0        No   A2      True

Since DataFrames are tabular, different kinds of data analytics can be performed (similar to ones that we perform in SQL).

For instance, we can use `groupby` to group records based on their Quota column, and count the number of days in each group.

In [195]:
print(df_sales.groupby(df_sales.QuotaMet).Date.count())

QuotaMet
False    16
True     10
Name: Date, dtype: int64

For each, group (Quota Met or Quota Not Met) we can also calculate the mean temperature, and sales.

In [196]:
print(df_sales.groupby(df_sales.QuotaMet)[["Temperature", "Sales"]].mean())

          Temperature   Sales
QuotaMet
False       32.752404  63.875
True        39.400000  72.000

Many DataFrame operations return a DataFrame, so if you want to modify the data, and keep the same variable, re-assign it to itself.

In [199]:
df_sales = df_sales.sort_values("Sales", ascending=False)
df_sales

          Date  Temperature  Sales BreakDown Area  QuotaMet
18  20/08/2021    41.000000   76.0        No   A1      True
16  18/08/2021    41.000000   74.0        No   A1      True
17  19/08/2021    41.000000   74.0        No   A1      True
0   02/08/2021    40.000000   72.0        No   A1      True
25  27/08/2021    40.000000   72.0       Yes   A3      True
15  17/08/2021    40.000000   72.0       Yes   A1      True
14  16/08/2021    38.000000   70.0        No   A3      True
21  23/08/2021    36.000000   70.0        No   A2      True
19  21/08/2021    38.000000   70.0        No   A1      True
26  28/08/2021    39.000000   70.0        No   A2      True
22  24/08/2021    35.000000   68.0        No   A2     False
13  15/08/2021    36.000000   68.0        No   A2     False
2   04/08/2021    35.000000   68.0        No   A2     False
20  22/08/2021    36.000000   68.0        No   A3     False
1   03/08/2021    35.000000   68.0        No   A2     False
10  12/08/2021    33.000000   66.0        No   A2     False
11  13/08/2021    33.000000   66.0        No   A2     False
12  14/08/2021    33.000000   66.0        No   A3     False
9   11/08/2021    33.000000   66.0        No   A2     False
8   10/08/2021    30.000000   64.0        No   A2     False
4   06/08/2021    31.000000   64.0        No   A1     False
3   05/08/2021    32.000000   64.0        No   A3     False
6   08/08/2021    29.000000   62.0        No   A1     False
5   07/08/2021    30.000000   62.0        No   A1     False
7   09/08/2021    28.000000   60.0       Yes   A3     False
23  25/08/2021    35.038462   42.0        No   A1     False

Thank you
***